<div class="row">
  <div class="col-sm-8 col-md-8">
    <div class="block ">
      <div class="block-header bg-gray-lighter">
        <h3 class="block-title"><%=t.booking_monthly_yearly_summary.invoicing_product_graph_title%></h3>
      </div>
      <div class="block-content">
        <canvas id="invoicing_by_product_graphic" width="640" height="560"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="block ">
      <div class="block-header bg-gray-lighter">
        <h3 class="block-title"><%=t.booking_monthly_yearly_summary.invoicing_product_table_title%></h3>
      </div>
      <div class="block-content">
        <div id="invoicing_by_product_table_container">

        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/template" id="invoicing_by_product_table_script">
 <div class="table-container">
    <table class="table table-striped">
       <thead>
         <tr>
           <th class="text-left" scope="col" style="width:20%"><%=t.booking_monthly_yearly_summary.table.product%></th>
           <th class="text-right" scope="col" style="width:40%"><%=t.booking_monthly_yearly_summary.table.year%> <%%=year%></th>
           <th class="text-right" scope="col" style="width:40%"><%=t.booking_monthly_yearly_summary.table.year%> <%%=year-1%></th>
         </tr>
       </thead>
       <tbody>
         <%% var incoming_total = 0; %>
         <%% var incoming_total_previous_year = 0; %>
         <%% for (item in data) { %>          
         <tr>
           <td class="text-left"><%%=item%></td>
           <td class="text-right"><%%=data[item].total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
           <td class="text-right"><%%=data[item].total_previous_year.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
           <%% incoming_total += new Number(data[item].total); %>
           <%% incoming_total_previous_year += new Number(data[item].total_previous_year); %>
         </tr>  
         <%% } %>
         <tr class="success">
           <td class="text-left"><b>TOTAL</b></td>
           <td class="text-right"><b><%%=incoming_total.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></b></td>
           <td class="text-right"><b><%%=incoming_total_previous_year.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></b></td>
         </tr>         
       </tbody>
    </table>
</script>